.productDetailsContainer {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .productDetails {
    margin-bottom: 20px;
  }
  
  .productDetails img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .addToCartButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .goToCartButton {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addToCartButton:hover,
  .goToCartButton:hover {
    opacity: 0.8;
  }