.categoryDiv {
  background-color: #ffffff;
  text-align: center;
  padding: 20px; /* Added padding for better spacing */
}

.carousel-container {
  margin-bottom: 80px; /* Reduced margin for a more compact look */
}

.categoriesContainerItem {
  margin: 20px;
  padding: 20px; /* Adjusted padding for a more balanced layout */
  border-radius: 8px; /* Added border radius for a modern look */
  text-align: center;
  transition: transform 0.3s ease;
  display: inline-block;
  width: calc(48% - 40px); /* Slightly increased width for better spacing */
  margin: 1%;
  overflow: hidden; /* Ensures the border-radius works properly */
}

.categoriesContainerItem:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Added box-shadow on hover for elevation */
}

.categoriesContainerItem img {
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.categoryText {
  font-size: 18px;
  font-weight: bold;
  color: #000000; /* Changed text color to white for better contrast */
  margin-top: 10px;
}

.categoryDiv h1 {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  color: #fff; /* Changed text color to white for better contrast */
  text-align: center;
  margin-bottom: 20px;
}

.upFooter {
  display: flex;
  justify-content: center;
  background-color: #333; /* Changed background color to a darker shade */
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  margin-top: 80px; /* Adjusted margin for better spacing */
}

.upFooter div {
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.upFooter h1 {
  color: #fff; /* Changed text color to white for better contrast */
  font-size: 20px;
  margin-bottom: 8px;
}

.upFooter p {
  color: #ccc; /* Adjusted text color for better visibility */
  font-size: 16px;
  margin-bottom: 8px;
}
