.categoryDiv {
  background-color: #ffffff;
  text-align: center;
  padding: 20px; 
}

.carousel-container {
  margin-bottom: 80px; 
}

.categoriesContainerItem {
  margin: 20px;
  padding: 20px; 
  border-radius: 8px; 
  text-align: center;
  transition: transform 0.3s ease;
  display: inline-block;
  width: calc(48% - 40px); 
  margin: 1%;
  overflow: hidden; 
}

.categoriesContainerItem:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.categoriesContainerItem img {
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.categoryText {
  font-size: 18px;
  font-weight: bold;
  color: #000000; 
  margin-top: 10px;
}

.categoryDiv h1 {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  color: #fff; 
  text-align: center;
  margin-bottom: 20px;
}

.upFooter {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  margin-top: 80px;
}

.upFooter div {
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.upFooter h1 {
  color: #fff; 
  font-size: 20px;
  margin-bottom: 8px;
}

.upFooter p {
  color: #ccc; 
  font-size: 16px;
  margin-bottom: 8px;
}
